html {font-size: 16px;}

body {
  background: #fff;
  color: #222;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  table-layout: fixed;
  user-select: none;
}

header {
  width: 90%;
  max-width: 40em;
  margin: auto;
}

/* search ロゴ */
img {
  display: block;
  margin: 5rem auto 2rem auto;
}

/* キーワード選択メニュー */
.select-box {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

.select-box #pulldown, .select-box #clear {
  border: solid 1px #dfe1e5;
  background-color: #fff;
  outline: none;
  cursor: pointer;
}

.select-box #pulldown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-right: none;
  padding: 0.8rem 0.6rem 0.8rem 1.2rem;
  border-radius: 30px 0 0 30px;
  background-image: linear-gradient(45deg, transparent 50%, #5F6368 50%),  linear-gradient(135deg, #5F6368 50%, transparent 50%);
  background-size: 5px 5px, 5px 5px;
  background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
  background-repeat: no-repeat;
}

.select-box #clear {
  padding: 0.8rem 1.2rem 0.8rem 0.6rem;
  border-left: none;
  border-radius: 0 30px 30px 0;
  color: #5F6368;
}

/* 検索窓 */
form input[type="search"], form input[type="search"]::-webkit-search-cancel-button {-webkit-appearance:none;}

.search-area #window {
  width: 100%;
  line-height: 2.4em;
  font-size: 1.2em;
  padding: 0 36px 0 42px;
  border-radius: 30px;
  border: solid 1px #dfe1e5;
  outline: none;
  transition: .3s;
}

#window:hover, #window:focus {box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);}

/* autocomplete時の背景色無効 */
@keyframes onAutoFillStart { from {} to {}}

#window:-webkit-autofill {
  animation-name: onAutoFillStart;
  transition: background-color 50000s ease-in-out 0s;
}

.search-area {position: relative;}

.search-area .fa-search, .search-area #form-clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #5F6368;
}
.search-area .fa-search {left: 1em;}
.search-area #form-clear {
  right: 1em;
  font-size: 18px;
}

.search-area #form-clear:hover {cursor: pointer;}

/* ボタンエリア */
main {
  margin: 1rem auto 3rem auto;
  flex: 1;
}

.button-area {
  margin-top: 8px;
  font-size: 0;
}

.button-area .icon, .button-area button {
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  color: #5F6368;
  background-color: #F2F2F2;
  text-decoration: none;
  border: none;
  outline: none;
  transition: .3s;
}

.button-area .icon {
  text-align: center;
  font-size: 20px;
  width: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  margin: auto;
}

.button-area button {
  padding: 0 1.2rem;
  line-height: 3rem;
  margin-left: 8px;
  cursor: pointer;
  border-radius: 4px;
  overflow-wrap : break-word;
}

.button-area button:hover, .button-area #hashtag:hover {
  box-shadow: 0 0 3px #222;
  outline: 1px #222;
  color: #222;
  cursor: pointer;
}

#gimages:hover {color: #222; background: #FBBC05;}
#gmaps:hover {color: #fff; background: #34A853;}
#gtrans:hover {color: #fff; background: #4285F4;}
#youtube:hover {color: #fff; background: #ff0000;}
#yahoo:hover, #y-shopping:hover {color: #fff; background: #ff0033;}
#bing:hover {color: #fff; background: #008274;}
#amazon:hover {color: #fff; background: #ff9900;}
#rakuten:hover {color: #fff; background: #bf0000;}
#twitter:hover {color: #fff; background: #1da1f2;}
#instagram:hover {color: #fff; background: linear-gradient(135deg, #427eff 0%, #f13f79 80%);}
#facebook:hover {color: #fff; background: #3b5998;}
#note:hover {color: #fff; background: #41C9B4;}
#random:hover{
  color: #fff;
  background: linear-gradient(45deg, #bf0000, #ff0000, #ff0033, #ff9900, #FBBC05, #1da1f2, #41C9B4, #34A853, #008274, #3B5998, #4285F4);
  background-size: 1200% 1200%;
  animation: gradation 10s ease infinite;
}
   
@keyframes gradation {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

/* フッター */
footer {
  line-height: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  bottom: 0;
  cursor: default;
  background: #F2F2F2;
  outline: 1px solid #dfe1e5;
  width: 100%;
}

footer div {
  display: flex;
  margin: 0 1rem;
}

footer p, footer p a {color: #5F6368;}

footer p {margin: 1rem;}

footer p a {
  cursor: pointer;
  text-decoration: none;
}

footer p a:hover {text-decoration: underline;}

/* スマホ用CSS */
@media screen and (max-width: 700px) {
  img {margin-top: 3rem;}
  main {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-x: auto;
    width: 90%;
  }
  .button-area {
    display: flex;
    flex: 0 0 auto;
  }
  footer {justify-content: space-between;}
  footer div {margin: 0 auto;}
}

@media screen and (max-width: 400px) {
  img {width: 100%;}
}

/* ダークモード対応CSS */
@media (prefers-color-scheme: dark) {
  body {background-color: #1F1F1F;}
  img {filter: brightness(0) invert(1);}
  .search-area #window {border-color: #333;}
  footer {
    background-color: #282828;
    outline-color: #333;
  }
  footer p, footer p a {color: #fff;}
}