html {
  position: relative;
  font-size: 16px;
}

body {
  background: #fff;
  color: #222;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  table-layout: fixed;
  user-select: none;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  width: 90%;
  max-width: 40em;
  margin: auto;
}

/* search ロゴ */
img {
  display: block;
  margin: 5rem auto 2rem auto;
}

/* キーワード選択メニュー */
.select-box {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

.select-box .pulldown-button {
  position: relative;
  border: solid 1px #dfe1e5;
  background-color: #fff;
  cursor: pointer;
  padding: 0.8rem 1rem;
  border-radius: 4px;
  transition: .3s;
}
.select-box .pulldown-button p {margin: 0;}
.select-box .pulldown-button #pulldown {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* 検索窓 */
form input[type="search"], form input[type="search"]::-webkit-search-cancel-button {-webkit-appearance:none;}

.search-area #window {
  width: 100%;
  line-height: 2.4em;
  font-size: 1.2em;
  padding: 0 36px 0 42px;
  border-radius: 30px;
  border: solid 1px #dfe1e5;
  outline: none;
  transition: .3s;
}

.select-box .pulldown-button:hover, .select-box .pulldown-button:focus, #window:hover, #window:focus {box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);}

/* autocomplete時の背景色無効 */
@keyframes onAutoFillStart { from {} to {}}

#window:-webkit-autofill {
  animation-name: onAutoFillStart;
  transition: background-color 50000s ease-in-out 0s;
}

.search-area {position: relative;}

.search-area .fa-search, .search-area #form-clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #5F6368;
}
.search-area .fa-search {left: 1em;}
.search-area #form-clear {
  right: 1em;
  font-size: 18px;
  background: none;
  border: none;
}

.search-area #form-clear:hover {cursor: pointer;}

/* ボタンエリア */
main {
  margin: 1rem auto 3rem auto;
  flex: 1;
}

.button-area {
  margin-top: 8px;
  font-size: 0;
}

.button-area .icon, .button-area button {
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  color: #5F6368;
  background-color: #F2F2F2;
  text-decoration: none;
  border: none;
  transition: .3s;
}

.button-area .icon, .button-area #hashtag {
  text-align: center;
  font-size: 20px;
  width: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  margin: auto;
}
.button-area #hashtag {
  padding: 0;
}

.button-area button:not(#hashtag) {
  padding: 0 1.2rem;
  line-height: 3rem;
  margin-left: 8px;
  cursor: pointer;
  border-radius: 4px;
  overflow-wrap : break-word;
}

.button-area button:hover, .button-area #hashtag:hover {
  box-shadow: 0 0 3px #222;
  color: #222;
  cursor: pointer;
}

#gimages:hover {color: #222; background: #FBBC05;}
#gmaps:hover {color: #fff; background: #34A853;}
#gtrans:hover {color: #fff; background: #4285F4;}
#youtube:hover {color: #fff; background: #ff0000;}
#yahoo:hover, #y-shopping:hover {color: #fff; background: #ff0033;}
#bing:hover {color: #fff; background: #008274;}
#duck:hover {color: #fff; background: #e37151;}
#amazon:hover {color: #fff; background: #ff9900;}
#rakuten:hover {color: #fff; background: #bf0000;}
#twitter:hover {color: #fff; background: #1da1f2;}
#instagram:hover {color: #fff; background: linear-gradient(135deg, #427eff 0%, #f13f79 80%);}
#facebook:hover {color: #fff; background: #3b5998;}
#note:hover {color: #fff; background: #41C9B4;}
#random:hover{
  color: #fff;
  background: linear-gradient(45deg, #bf0000, #ff0000, #ff0033, #e37151, #ff9900, #FBBC05, #1da1f2, #41C9B4, #34A853, #008274, #3B5998, #4285F4);
  background-size: 1200% 1200%;
  animation: gradation 10s ease infinite;
}
   
@keyframes gradation {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

/* フッター */
footer {
  line-height: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  bottom: 0;
  cursor: default;
  background: #F2F2F2;
  outline: 1px solid #dfe1e5;
  width: 100%;
}

footer div {
  display: flex;
  margin: 0 1rem;
}

footer p, footer p a {color: #5F6368;}

footer p {margin: 1rem;}

footer p a, footer #edit {
  cursor: pointer;
  text-decoration: none;
}

footer p a:hover, footer #edit:hover {text-decoration: underline;}

.select-box .pulldown-button:not(:focus-visible), 
.search-area #form-clear:not(:focus-visible), 
.button-area .icon:focus:not(:focus-visible), 
.button-area button:focus:not(:focus-visible) {
  outline: none;
}

/* ダイアログ */
#dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2rem;
  width: 40%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.close {display: none;}
.open {display: block;}
#dialog h2 {margin-top: 0;}
#dialog #edit-list {
  width: 100%;
  resize: vertical;
}
#dialog button {
  display: inline-block;
  vertical-align: middle;
  color: #5F6368;
  font-size: 1rem;
  background-color: #F2F2F2;
  text-decoration: none;
  border: none;
  padding: 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: .3s;
}
#dialog button:hover {
  box-shadow: 0 0 3px #222;
}
#dialog #save-list {
  background-color: #4169e1;
  color: #fff;
}
#dialog #resset-list {color: #ff0000;}

/* スマホ用CSS */
@media screen and (max-width: 700px) {
  img {margin-top: 3rem;}
  main {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-x: auto;
    width: 90%;
  }
  .button-area {
    display: flex;
    flex: 0 0 auto;
  }
  footer {justify-content: space-between;}
  footer div {margin: 0 auto;}
  #dialog {
    width: 85%;
  }
}

@media screen and (max-width: 400px) {
  img {width: 100%;}
}

/* ダークモード対応CSS */
@media (prefers-color-scheme: dark) {
  body {background-color: #1F1F1F;}
  img {filter: brightness(0) invert(1);}
  .search-area #window {border-color: #333;}
  .select-box .pulldown-button, .button-area .icon, .button-area button {
    color: #fff;
    background-color: #444;
  }
  .select-box .pulldown-button:hover, .select-box .pulldown-button:focus, .button-area button:hover, .button-area #hashtag:hover {
    color: #5F6368;
    background-color: #F2F2F2;
  }
  footer {
    background-color: #282828;
    outline-color: #333;
  }
  footer p, footer p a {color: #fff;}
}